

.container {
  display: flex;

  justify-content: space-between;
  margin: 20px;
  overflow-y: scroll;
}

.group {
  border: 1px solid #ccc;
  padding: 10px;
  flex-basis: calc(33.33% - 20px);
}

.groupHeader {
  font-size: 18px;
  margin-bottom: 10px;
}

.ticketList {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.ticket {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;

}

.ticketTitle {
  font-weight: bold;
}

.ticketPriority {
  font-weight: normal;
  font-size: 14px;
}
