

.container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 20px;
  overflow: hidden;

  gap: 25px;
  max-width: 100%;   
}
.avatar {
  color: firebrick;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    align-items: stretch; 
    overflow-x: hidden;
  }
}


.ticketHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(86, 86, 86);
    font-size: 20px;
}

.ticketCount {
    font-size: 15px;
    font-weight: 200;
    color: rgb(136, 136, 136);
}
.ticketIcons {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: rgb(136, 136, 136);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}

.group {
  padding: 10px;
  flex-basis: calc(33.33% - 20px);
}

.groupHeader {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  font-size: 20px;
  align-items: center;
}

.ticketList {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.ticket {

  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;

}

.ticketTitle {
  font-size: 8px;
  font-weight: 400;
}

.ticketPriority {
  font-weight: normal;
  font-size: 14px;
}
