/* Navbar.module.css */

.navbar {
    height: 64px; /* Adjust height as needed */
    background-color: white;
  }
  
  .navbarContent {
    padding: 16px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  